<div>
    <!-- <div (click)="toggleDropDownIcon()" class="dropDown-title-container">
        <span class="title">Movies</span>
        <span class="icons">{{!dropDownContentClicked ? "🔻" : "🔺" }}</span>
    </div> -->
    <!-- <div *ngIf="dropDownContentClicked" class="dropdown-content-container">
        <ng-container *ngFor="let data of dropDownData">
            <div class="dropdown-item">
                <input type="checkbox" [value]="data.name || data.title" id="optionName" [checked]="data.checked" (change)="onSelectItem(data)"/>
                <label for="optionName">{{data.title || data.name}}</label>
            </div>
        </ng-container> -->
    <!-- </div> -->
</div>